*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;   

}
.main_container{    
    position: relative;
    background-size: contain;
    height: 100vh;
    /* overflow-y: auto; */
}
.main_container img{    
    min-width: 100%;
    object-fit: contain;
}
.main_overlay {
    background: linear-gradient(90deg, rgba(0,16,43,1) 10%, rgba(0,212,255,0.15199583251269255) 100%);
    position: absolute;
    width: 100%;
    height: 100vh;
    color: white;
}
.text_container {
    top: 20%;
    left: 15%;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
.text_container h3 {
    color: white;
    font-size: 40px;  
}
.text_container h1 {
    line-height: 130px;
    color: white;
    font-size: 80px; 
    font-weight: 300;
    letter-spacing: -1px;
    
}
.text_container p {
    color: white;
    font-size: 30px;
    font-weight: 300;
    
}
.text_container span {
    color: rgb(8, 232, 214);
    font-weight: bold;
    
}
.hire_me_button{
    margin-top: 50px;
    width: 150px;
    height: 30px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 20px;
}
.hire_me_button:hover{
    background-color: rgb(11, 191, 194);
    transition: background-color 0.3s ease-in;
    border-radius: 17px;
    box-shadow:  2px 2px 10px rgb(66, 178, 252);
    transition: box-shadow 0.3s ease-in;
    padding-top: -10px; 
}
.hire_me_button:hover a{   
    font-size: 21px;
    box-shadow:  2px 2px 10px rgb(66, 178, 252);
    transition: box-shadow 0.3s ease-in;
    
}
.hire_me_button a{
    position: absolute;
    text-decoration: none;
    margin-top: 3px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: black;    
}

.navbar {
    margin: auto;
    width: 100%;
    height: 8vh;
    background-color: rgba(0, 13, 39, 0.361);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.navbar ul {
    width: 95%;
}
.navbar:hover{
    background-color: rgba(0, 13, 39, 0.534);
    padding-top: 8px;
    transition: padding-top 0.3s ease-in-out;
}
.logo a{
    text-decoration: none;
    margin-left: 40px;
    color: white;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 1;
}
.logo img {
    margin-top: -14px;
}
.nav_links{
    width: 50%;
}
.nav_item{
    display: inline;
    width: 100%;
    position: relative; 
    justify-content: space-around; 
    padding: 10px 20px 10px 20px;
    font-size: 16px;

}
.nav_item a{
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
}
.nav_item:hover{
    background-color: rgb(11, 191, 194);
    transition: background-color 0.3s ease-in;
    border-radius: 17px;
    box-shadow:  2px 2px 10px rgb(66, 178, 252);
    transition: box-shadow 0.3s ease-in;
    padding-top: -10px; 
}
.nav_item:hover a{
    color: black;
}


/* ------------------------------------------ */
.main-container-2 {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 97vh;
    height: 100vh;
    width: 100%;
    background-color: #0e1144;
}
.main-image-bg {
    flex-wrap: wrap;
    min-width: 280px;
    height: 400px;    
    position: relative;
    left: 0vw;
    top: 20vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    object-fit: contain;
    background-size: cover;
    /* background-size: contain; */
    
}
img.bg-image {
    width: 280px;
    height: 400px;
    background-size:cover;
    z-index: 0;
    position: absolute;
    border-radius: 10px;
    object-fit: contain;
    background-size: cover;
    
}

.main-image-bg::before {
    content: "";
    position: absolute;
    border-radius: 10px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(56deg, rgba(0,16,43,0.7206232834930848) 0%, rgba(0,91,124,1) 37%, rgba(0,95,129,0.0035364487591911242) 67%, rgba(0,212,255,0.15199583251269255) 100%);
    z-index: 2;
    opacity: 0;
}

.save-button {
    position: absolute;    
    background-color: red;
    width: 70px;
    height: 50px;
    border-radius: 40px;
    right: 5%;
    top: -13%;
    opacity: 0; 
    z-index: 3;
    
}

.save-button p{
    position: absolute; 
    color: white;   
    font-weight: bold;
    top: 30%;
    left: 22%; 
      
}

.option-bar{
    width: 100%;
    height: 50px;   
    bottom: -15%;
    z-index: 3;
    position: absolute;
    transform: translateY(0);
    opacity: 0;
}

.web-link{
    width: 160px;
    height: 40px;
    background-color: #ededed;
    position: absolute;
    left: 10px;
    border-radius: 20px;    
}
.web-link p {
    color: black;
    position: absolute;
    font-size: 21px;
    top: 8px;  
    left: 35px;  
}
.web-link img {
    color: black;
    position: absolute;
    height: 20px;
    top: 11px;
    left: 8px;   
}

.upload {
    width: 40px;
    height: 40px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline;
    left: 65%;
    position: absolute;
}
.upload img {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 8px;
    left: 8px;    
}
.menu-icon {
    width: 40px;
    height: 40px;
    background-color: #ededed;
    border-radius: 50%;
    display: inline;
    left: 82%;
    position: absolute;
}
.menu-icon img {
    color: black;
    position: absolute;
    font-size: 20px;
    top: 11px;
    left: 9px;   
}
.main-image-bg:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.45);
    transition: box-shadow 0.1s;
}
.main-image-bg:hover.main-image-bg::before {
    opacity: 1;
    transition: opacity 1s;
}

.main-image-bg:hover .save-button{
    transform: translateY(60px);
    transition: transform .5s;
    opacity: 1;
    z-index: 3;
}
.main-image-bg:hover .option-bar {
    transform: translateY(-60px);
    transition: transform .5s;
    opacity: 1;
    z-index: 3;
}

/* --footer-- */
.footer {
    top: 195vh;
    height: 8vh;
    width: 100%;
    background-color: #0e1144;
    position: absolute;
    text-align: center;
}
.footer p{  
    margin-top: 30px; 
    bottom: 0%; 
    color: white;   
}
